#header {
  position: sticky;
  inset: 0 0 auto auto;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2.5em;
  background-color: $clr-container;
  place-items: center;

  .logo {
    font: $logo-font;
  }

  .navbar {
    @extend .flex;
    justify-content: space-between;
    gap: 2em;

    a {
      @extend .flex;
      gap: 0.25em;

      .navIcon {
        @extend .flex;
      }

      .navLabel {
        font: $link-font;
      }
    }
  }

  .search {
    @extend .flex;
    background-color: $clr-button;
    border-radius: 0.25em;

    button {
      @extend .flex;
      background-color: transparent;
      padding: 1em;
    }

    input {
      width: 28ch;
      font-size: 0.9em;
      background-color: transparent;
    }
  }

  .profile {
    width: 2.5em;
    height: 2.5em;

    img {
      border-radius: 50%;
    }
  }

  .hamburger {
    position: relative;
    display: none;
    width: 2em;
    height: 1.5em;

    .line {
      width: inherit;
      height: 0.3em;
      background-color: $clr-button;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: inherit;
        height: 0.3em;
        background-color: $clr-button;
      }

      &::before {
        inset: 0 auto;
      }

      &::after {
        inset: auto 0 0 auto;
      }
    }
  }
}

@media (340px <= width < 999px) {
  #header {
    padding-inline: 1em;

    .navbar {
      position: fixed;
      flex-direction: column;
      gap: 0.75em;
      inset: -100% 0 auto 0;
      padding: 1em;
      background-color: $clr-container;
      transition: all 0.7s ease-in-out;
      z-index: 99;

      &.active {
        inset: 3.5em 0 auto 0;
        transition: all 0.7s ease-in-out;
      }

      .navLink {
        a {
          letter-spacing: 0.2em;
          gap: 1em;

          & > * {
            font-size: 1.25em;
          }
        }
      }
    }

    .searchbar {
      display: grid;
      place-items: center;
      position: fixed;
      inset: auto 0 4em 0;
      background-color: $clr-container;
      padding-block: 1em;
      input {
        width: 65vw;
      }
    }

    .profile {
      margin-left: auto;
    }

    .hamburger {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 2em;
      overflow: hidden;
      transition: all 0.2s linear;

      .line.active {
        rotate: -45deg;
        transition: all 0.2s linear;

        &::before {
          rotate: -90deg;
        }
        &::after {
          rotate: 90deg;
        }
      }
    }
  }
}
