#home {
  @extend .flex;
  flex-direction: column;

  & > * {
    text-align: center;
  }

  h1 {
    font-size: 2.25em;
    font-family: poppins;
  }

  p {
    font-size: 1.25em;
    font-family: poppins;
  }
}
