#header {
  position: sticky;
  inset: 0 0 auto auto;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2.5em;
  background-color: $clr-container;
  place-items: center;

  .logo {
    font: $logo-font;
    font-family: ubuntu;
  }

  .navBar {
    @extend .flex;
    justify-content: space-between;
    gap: 2em;

    a {
      @extend .flex;
      gap: 0.25em;

      .navIcon {
        @extend .flex;
      }

      .navLabel {
        font: $link-font;
      }
    }
  }

  .search {
    @extend .flex;
    background-color: $clr-button;
    border-radius: 0.25em;
    width: fit-content;

    button {
      @extend .flex;
      background-color: transparent;
      margin: 1em;
    }

    input {
      width: 25ch;
      font-size: 0.8em;
      background-color: transparent;
    }
  }

  .profile {
    width: 2.5em;
    height: 2.5em;

    img {
      border-radius: 50%;
    }
  }

  .hamburger {
    position: relative;
    display: none;
    width: 1.5em;
    height: 1em;

    .line {
      width: inherit;
      height: 0.2em;
      background-color: $clr-button;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: inherit;
        height: 0.2em;
        background-color: $clr-button;
      }

      &::before {
        inset: 0 auto;
      }

      &::after {
        inset: auto 0 0 auto;
      }
    }
  }
}

@media (340px <= width < 1000px) {
  #header {
    .logo {
      grid-column: 1/3;
    }

    .nav {
      display: none;
    }

    .search {
      display: none;
    }

    .profile {
      grid-column: 7/8;
    }

    .hamburger {
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
