#header {
  @extend .flex;
  justify-content: space-between;
  background-color: $clr-container;
  padding: 0.5rem 2em;

  .logo {
    font: $logo-font;
    font-family: ubuntu;
  }

  nav {
    @extend .flex;
    gap: 2em;

    a {
      @extend .flex;
      gap: 0.25em;

      .navIcon {
        @extend .flex;
      }

      .navLabel {
        font: $link-font;
      }
    }
  }

  #search {
    @extend .flex;
    background-color: $clr-button;
    border-radius: 0.25em;

    button {
      @extend .flex;
      background-color: transparent;
      margin: 1em;
    }

    input {
      width: 25ch;
      font-size: 0.95em;
      background-color: transparent;
    }
  }

  .profileContainer {
    width: 2.5em;
    height: 2.5em;

    img {
      border-radius: 50%;
    }
  }

  .hamburger {
    position: relative;
    display: none;
    width: 1.5em;
    height: 1em;

    .line {
      width: inherit;
      height: 0.2em;
      background-color: $clr-button;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: inherit;
        height: 0.2em;
        background-color: $clr-button;
      }

      &::before {
        inset: 0 auto;
      }

      &::after {
        inset: auto 0 0 auto;
      }
    }
  }
}

@media (320px <= width < 680px) {
  #header {
    position: relative;
    display: block;
    nav {
      display: block;
    }

    .hamburger {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
