#home {
  @extend .flex;
  flex-direction: column;

  & > * {
    text-align: center;
  }

  .welcome {
    font: $logo-font;
  }

  p {
    font: $link-font;
  }

  p:last-child {
    font: $head-font;
  }
}
