#movies,
#series,
#anime {
  .swiper {
    @extend .flex;
    padding-bottom: 2rem;

    .swiper-wrapper {
      .swiper-slide {
        @extend .flex;
        background-position: center;
        background-size: cover;
        width: 250px;
        margin-bottom: 1.5em;
        height: inherit;
        margin: 0.5rem;
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      color: $clr-primary;
    }

    .swiper-pagination-bullet {
      transition: width 0.4s ease;
    }

    .swiper-pagination-bullet-active {
      background-color: $clr-primary;
      width: 1rem;
      border-radius: 1rem;
    }

    .card {
      position: relative;
      @extend .flex;
      flex-direction: column;
      width: 100%;
      height: 500px;
      background-color: $clr-container;

      .poster {
        width: 100%;
        height: 75%;
        img {
          height: 100%;
        }
      }

      .info {
        @extend .flex;
        width: 100%;
        height: 25%;
        align-items: flex-start;
        flex-direction: column;
        gap: 0.5em;
        padding: 1em;

        .title {
          font-size: 1.25em;
        }
      }
    }
  }
}
