#movies,
#series,
#anime {
  .swiper {
    @extend .flex;
    width: 100%;
    padding-bottom: 2rem;

    .swiper-wrapper {
      .swiper-slide {
        @extend .flex;
        background-position: center;
        background-size: cover;
        width: 300px;
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      color: $clr-primary;
    }

    .swiper-pagination-bullet {
      transition: width 0.4s ease;
    }

    .swiper-pagination-bullet-active {
      background-color: $clr-primary;
      width: 1rem;
      border-radius: 1rem;
    }

    .card {
      position: relative;
      @extend .flex;
      flex-direction: column;
      width: inherit;
      height: inherit;
      gap: 0.5rem;
      background-color: $clr-container;

      .poster {
        height: inherit;
        img {
          height: 100%;
        }
      }

      .info {
        @extend .flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 0.5em;
        padding: 1em;
      }
    }
  }
}
