$clr-text: hsl(0, 0%, 80%);
$clr-background: hsl(0, 0%, 10%);
$clr-container: hsl(0, 0%, 20%);
$clr-primary: hsl(210, 70%, 50%);
$clr-button: hsl(200, 50%, 40%);

$logo-font: 700 clamp(25px, 2.0833vw + 16px, 35px) / 1 ubuntu;
$head-font: 700 clamp(20px, 1.6667vw + 14px, 30px) / 1.1 poppins;
$sub-head-font: 500 clamp(18px, 1.5vw + 12px, 25px) / 1.2 roboto;
$link-font: 500 clamp(18px, 1.25vw + 10px, 22px) / 1.5 ubuntu;
$body-font: 400 clamp(15px, 1.25vw + 10px, 18px) / 1.5 open-sans;

@font-face {
  font-family: "open-sans";
  src: url(../assets/fonts/OpenSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "poppins";
  src: url(../assets/fonts/Poppins-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "roboto";
  src: url(../assets/fonts/Roboto-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "roboto";
  src: url(../assets/fonts/Roboto-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "ubuntu";
  src: url(../assets/fonts/Ubuntu-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "ubuntu";
  src: url(../assets/fonts/Ubuntu-Medium.ttf);
  font-weight: 500;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
