@import "./utlis";
@import "./header";
@import "./home";
@import "./shows";
@import "./details";
@import "./footer";
@import "./pageNotFound";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
}

body {
  color: $clr-text;
  background-color: $clr-background;
}

#root {
  position: relative;
  min-height: 100vh;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    height: inherit;
    background-image: url("../assets/images/bg.jpg");
    filter: brightness(0.25) blur(10px);
    z-index: -1;
  }
}

body,
input,
textarea {
  font: $body-font;
}

h1,
h2,
h3 {
  font-family: poppins;
  line-height: 1.1;
}

h1 {
  text-align: center;
  font: $head-font;
  color: $clr-primary;
}

h2 {
  font: $sub-head-font;
  color: $clr-primary;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul,
li,
a {
  cursor: pointer;
}

li {
  list-style-type: none;
}

a {
  color: $clr-text;
  text-decoration: none;

  &:hover {
    color: $clr-primary;
  }

  &.active {
    color: $clr-primary;
    border-bottom: 0.25em solid $clr-primary;
    border-radius: 0.5em;
  }
}

input,
button,
textarea {
  border: none;
  outline: none;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

main {
  min-height: calc(100vh - 4rem);
}

main > * {
  max-width: 90%;
  margin: 1rem auto;
}
